<template>
    <div>
        <h1>Dog Shop</h1>
        <p>This is a page to my wonderful Dog Shop</p>
        <p>Here have a cup of coffee:
            <font-awesome-icon icon="coffee"/>
        </p>
    </div>
</template>