<template>
    <div>
        <h1>Conditional Rendering Test</h1>
        <p>This is a page to test conditional rendering function of Vue</p>

        <button v-on:click="GenerateRandomValue">
            Are you there?
        </button>
        <p>
            {{ randomValue | formatNumber | currencyFormatter}}
        </p>

        <div v-if=" randomValue  > 0.5">
            Now you see me
        </div>
        <div v-else>
            Now you don't
        </div>

        
    </div>
</template>

<script>
    const numeral = require("numeral");

    export default {
        data() {
            return{
                randomValue: '0'
            }
        },
        methods: {
            GenerateRandomValue(){
                console.log("Hit")
                this.randomValue = Math.random()
            }
        },
        filters: {
            currencyFormatter: function (value) {
                return numeral(value).format('(0.00 $)');
            }
        }
    }
</script>