<template>
    <div>
        <h1>Key Control Test</h1>
        <p>This is a page to test key control function of Vue</p>

        <button v-on:click.ctrl="onButton"> Ctrl Click Normal</button>
        <button v-on:click.ctrl.exact="onButtonExact"> Ctrl Click Exact</button>
        <button v-on:click.exact="onClickExact"> Mouse click exact</button>
        <button v-on:click="onClick"> Mouse click Normal</button>
    </div>
</template>

<script>
    export default {
        methods: {
            onButton: function () {
                alert("On ctrl button pressed")
            },
            onButtonExact: function () {
                alert("On exact ctrl button pressed")
            },
            onClickExact: function () {
                alert("On Click exact")
            },
            onClick: function () {
                alert("On Click")
            }
        }
    }
</script>