<template>
    <div>
        <h1>Loop Rendering Test</h1>
        <p>This is a page to test loop rendering function of Vue</p>

        <template v-for="item in items">
            <li v-bind:key="item.message">
                <input type="checkbox" v-model="item.active">
                {{ item.message }}
            </li>
        </template>

        <template v-for="item in checkedItems" >
            <li v-bind:key="item.id">
                {{ item.message }}
                is active
            </li>
        </template>
    </div>
</template>

<script>
    export default {
        data() {
            return{
                randomValue: '0',
                items: [
                    { message: 'Person 1', active: false},
                    { message: 'Person 2', active: false}
                ]
            }
        },
        computed: {
            checkedItems: function () {
                return this.items.filter(function(item) {
                    return item.active
                })
            }
        }
    }
</script>