<template>
    <div>
        <h1>Router Test</h1>
        <p>This is a page to test router function of Vue</p>
        <p>Here have a cup of coffee: <font-awesome-icon icon="coffee" /></p>
    </div>
</template>