<template>
    <div id="watcher-example">
        <div id="watcher-test">
            <h1>Watcher test</h1>
            <p>This is a page to test Watcher func of Vue</p>
            <p>
                <font-awesome-icon icon="bars"/>
                Input a number:
                <input v-model="number">
            </p>
            <p>{{ outputNumber }}</p>
            <p>{{ quadraticNumber }}</p>
        </div>
        <div id="dropdown-example">
            <dropdown :options="hanoiOptions" :selected="hanoiSelect" v-on:updateOption="methodToRunOnSelect"></dropdown>
            <dropdown :options="saigonOptions" :selected="saigonSelect" v-on:updateOption="methodToRunOnSelect"></dropdown>
        </div>
    </div>
</template>

<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script>
    import dropdown from 'vue-dropdowns';

    export default {
        el: "#watch-example",
        data() {
            return {
                number: '',
                outputNumber: '0',
                quadraticNumber: '0',
                hanoiOptions: [
                    { name: 'Hai Ba Trung' },
                    { name: 'Hoang Mai' },
                    { name: 'Ba Dinh' }
                ],
                hanoiSelect: {
                    name: 'Ha Noi',
                },
                saigonOptions: [
                    { name: 'Hai Ba Trung' },
                    { name: 'Hoang Mai' },
                    { name: 'Ba Dinh' }
                ],
                saigonSelect: {
                    name: 'Sai Gon',
                }
            }
        },
        components: {
            'dropdown': dropdown,
        },
        watch: {
            number: function () {
                this.outputNumber = this.number
                this.quadraticNumber = this.number * this.number * this.number * this.number
            },
            hanoiSelect: function () {
                console.log("hanoi changed")
            }
        },
        methods: {
            methodToRunOnSelect(payload) {
                this.object = payload;
            }
        }
    }
</script>