<template>
  <div id="app">
    <font-awesome-icon icon="user-secret" />
    <img alt="Vue logo" src="./assets/logo.png">
    <br/>
    <sidebar-menu :menu="menu">
      <span slot="toggle-icon">
        <img style="max-width:30px;" src="./assets/toggle.png">
      </span>
      <span slot="dropdown-icon">
        <font-awesome-icon icon="bars" />
      </span>
    </sidebar-menu>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'App',
    data() {
      return {
        menu: [
          {
            header: true,
            title: 'Main Navigation',
            hiddenOnCollapse: true
          },
          {
            href: { path: '/' },
            title: 'Hello World',
            icon: {
              element: 'span',
              class: 'user'
            }
          },
          {
            title: 'Test',
            icon: 'bars',
            child: [
              {
                href: { path: '/router-test' },
                title: 'Router Test',
                icon: 'fa fa-thermometer-empty'
              },
              {
                href: { path: '/watcher-test' },
                title: 'Watcher Test',
                icon: 'fa fa-thermometer-empty'
              },
              {
                href: { path: '/conditional-rendering-test' },
                title: 'Conditional Rendering Test',
                icon: 'fa fa-thermometer-empty'
              },
              {
                href: { path: '/list-rendering-test' },
                title: 'List Rendering Test',
                icon: 'fa fa-thermometer-empty'
              },
              {
                href: { path: '/key-handling-test' },
                title: 'Key handling Test',
                icon: 'fa fa-thermometer-empty'
              },
              {
                href: { path: '/component-test' },
                title: 'Component Test',
                icon: 'fa fa-thermometer-empty'
              }
            ]
          },
          {
            title: 'Test With Java',
            icon: 'bars',
            child: [
              {
                href: { path: '/dog-shop' },
                title: 'My Dog Shop',
                icon: 'fa fa-thermometer-empty'
              }
            ]
          }
        ]
      }
    }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
